<html>

<head>
	<title>Node Authentication</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		body {
		 	background-color: #d8d8d8;
			font-family: Segoe UI Light;
		}

		input {
			background-color: transparent;
		}
		.navigation-bar {
            background-color: #323232;
            color: white;
            font-family: Helvetica; 
			width: 100%;
			z-index: 2;
        }
        .left-side {
            display: inline-block;
        }

        .right-side {
            float: right;
        }

		.dropdown-item:hover {
            background-color: blue;
            color: white;
            cursor: pointer;
        }

		.category_tile {
			position: relative;
			display: inline-block;
			margin: 5px;
			width: 15%;
			min-width: 100px;
			height: 100px;
			transition: 0.3s;
			background-color: gray;
			-webkit-animation: fadein 0.4s;
			/* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 0.4s;
			/* Firefox < 16 */
			-ms-animation: fadein 0.4s;
			/* Internet Explorer */
			-o-animation: fadein 0.4s;
			/* Opera < 12.1 */
			animation: fadein 0.4s;
		}

		.category_checked {
			position: relative;
			display: none;
			width: 90px;
			vertical-align: middle;
			text-align: center;
			line-height: 100px;
			opacity: 0.9;
			transition: 0.3s;
			transform: translate(10px, -111px);
			-webkit-animation: fadein 0.4s;
			/* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 0.4s;
			/* Firefox < 16 */
			-ms-animation: fadein 0.4s;
			/* Internet Explorer */
			-o-animation: fadein 0.4s;
			/* Opera < 12.1 */
			animation: fadein 0.4s;
		}

		.category_name {
			text-align: center;
			vertical-align: middle;
			color: white;
			line-height: 100px;
			user-select: none;
		}

		.category_tile:hover {
			transform: scale(1.15);
			cursor: pointer;
			transition: 0.4s;
		}

		@keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.5);
			}
			to {
				opacity: 0.6;
			}
		}
		/* Firefox < 16 */

		@-moz-keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.5);
			}
			to {
				opacity: 0.6;
			}
		}
		/* Safari, Chrome and Opera > 12.1 */

		@-webkit-keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.5);
			}
			to {
				opacity: 0.6;
			}
		}
		/* Internet Explorer */

		@-ms-keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.5);
			}
			to {
				opacity: 0.6;
			}
		}
		/* Opera < 12.1 */

		@-o-keyframes fadein {
			from {
				opacity: 0;
				transform: scale(0.8);
			}
			to {
				opacity: 0.6;
			}
		}
	</style>

	<script>
		categories = ["#social", "#concert", "#basketball", "#sports", "#jazz", "#meetup", "#running", "#competition", "#friendship",
			"#rave", "#rock", "#rap", "#exclusive", "#food", "#coffee", "#art", "#football", "#volleyball"]
		list = []
		CHECKED_SRC = 'https://cdn2.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/check-circle-green-512.png'

		function category_tile_clicked(tile) {
			if (tile.children[1].style.display != 'block') {
				tile.children[1].style.display = 'block'
				list.push(tile.children[0].innerHTML);
			}
			else {
				tile.children[1].style.display = 'none'
				for (var index = 0; index < list.length; index++) {
					if (tile.children[0].innerHTML == list[index]) {
						list.splice(index, 1);
						break;
					}
				}
			}

			document.getElementById('form_categories').value = ''
			if (list.length) {
				document.getElementById('category_results').innerHTML = ''
				for (var index = 0; index < list.length; index++) {
					document.getElementById('category_results').innerHTML += ' ' + list[index];
					document.getElementById('form_categories').value += list[index];
				}
			} else {
				document.getElementById('category_results').innerHTML = 'Select your categories from below'
			}
		}

		function ran_col(element) { //function name
			var color = '#'; // hexadecimal starting symbol
			var letters = ['f47e2d', 'c1201e', 'c2182b', 'ff4500', '008080', '800000', 'ff8b61', 'fa8072', '1e4b7a', 'd39c8b']; //Set your colors here
			color += letters[Math.floor(Math.random() * letters.length)];
			element.style.background = color; // Setting the random color on your div element.
		}

		function createTile(text) {
			var tile = document.createElement('div');
			tile.classList.add('category_tile');

			var tile_text = document.createElement('p')
			tile_text.classList.add('category_name');
			tile_text.innerHTML = text;

			var tile_checked = document.createElement('img');
			tile_checked.classList.add('category_checked');
			tile_checked.src = CHECKED_SRC;
			tile_checked.style.display = 'none';

			tile.appendChild(tile_text);
			tile.appendChild(tile_checked);
			tile.setAttribute('onclick', 'category_tile_clicked(this)');
			ran_col(tile);

			return tile;
		}

		function add_new_tile() {
			var tile_list = document.getElementsByClassName('tile_list')[0];
			if (tile_list.children !== undefined)
				tile_list.insertBefore(createTile('#' + document.getElementById('new_tile_text').value), tile_list.childNodes[0]);
			else
				tile_list.appendChild(createTile('#' + document.getElementById('new_tile_text').value));
		}

		window.onload = () => {
			for (var i = 0; i < categories.length; i++)
				document.getElementsByClassName('tile_list')[0].appendChild(createTile(categories[i]));

			for (var i = 0; i < document.getElementsByClassName('category_tile').length; i++)
				ran_col(document.getElementsByClassName('category_tile')[i]);

			var add_tile_input = document.getElementById('new_tile_text');
			add_tile_input.addEventListener('keydown', (e) => {
				if (e.keyCode === 13 && add_tile_input.value) {
					add_new_tile("#" + add_tile_input.value)
					add_tile_input.value = null;
					e.preventDefault();
					return false;
				}
			})
		}
	</script>

</head>

<body>
	<div class="navigation-bar">
        <!--https://hookagency.com/website-color-schemes-->
        <div class="left-side">
            <img src="Signup.png" width="50px" height="50px" style="margin: 15px; border-radius: 15px; margin-right: 30px">
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/profile" style="color: white">Home</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/search" style="color: white">Events</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/about" style="color: white">About</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/support" style="color: white">Support</a></span>
        </div>
        <div class="right-side dropdown">
            <span>Hi, <%=user.firstname%>!</span>
            <img src="<%=user.image%>" class="dropdown-toggle" data-toggle="dropdown" width="50px" height="50px" style="border-radius: 30px; margin: 15px; opacity: 1;">
            
            <div class="dropdown-menu" style="position: relative; text-align: center; z-index:5;">
                <p class="dropdown-item">My profile</p>
                <p class="dropdown-item">Upcoming</p>
                <p class="dropdown-item">History</p>
                <p class="dropdown-item">Sign out</p>
            </div>
        </div>
    </div>
	<div class="row" style="position:relative; width: 100%; ">
	<div class="col-sm-12 col-md-12">
	<div class="container" style="padding: 3%; padding-top:5%; padding-left: 6%;">
				<h1><span class="fa fa-sign-in"></span> Add a new event </h1><br>
				<!-- LOGIN FORM -->
				<form action="/create-event" enctype="multipart/form-data" method="post">
					<div class="form-group">
						<label>Name</label>
						<input type="text" style="background: transparent; border: 1px solid #323232" class="form-control" name="name" placeholder="Rock concert">
					</div>
					<div class="form-group">
						<label>Owner</label>
						<input style="background: transparent; border: 1px solid #323232" type="text" class="form-control" name="owner" value="<%= user.email %>" disabled>
					</div>
					<div class="form-group">
						<label>Location</label>
						<input style="background: transparent; border: 1px solid #323232" type="text" class="form-control" name="location" placeholder="National Arena">
					</div>
					<div class="form-group">
						<label>City</label>
						<input style="background: transparent; border: 1px solid #323232" type="text" class="form-control" name="city" placeholder="Bucharest">
					</div>
					<div class="form-group">
						<label>Date</label>
						<input style="background: transparent; border: 1px solid #323232" type="date" class="form-control" name="date">
					</div>
					<div class="form-group">
						<label>Hour</label>
						<input style="background: transparent; border: 1px solid #323232" type="time" class="form-control" name="hour">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea style="background: transparent; border: 1px solid #323232" type="text" class="form-control" name="description" rows="3" placeholder="Gonna be awesome"></textarea>
					</div>
					<div class="form-group" style="display: none">
						<input style="background: transparent; border: 1px solid #323232" id="form_categories" type="text" class="form-control" name="categories">
					</div>

					<label style="margin: 10px; text-align: center" id="category_results">Select your categories from below</label><br>
					<div class="tile_list"></div>

					<br><label>Add a new event category if you didn't find it above</b></label>
					<input id="new_tile_text" style="width: 100%; background: transparent; border: 1px solid #323232"></input><br><br>

					<div class="form-group">
						<label>Upload an image</label>
						<input  type="file" name="upl" class="form-control-file" style="width: 100%">
					</div><br>
					<div class="row">
						<div class="form-group col-sm-6 col-md-6">
							<label style="margin-right: 25px">Prices</label>
							<label style="margin-right: 10px" class="radio-inline"><input type="radio" name="currency" value="€" checked> €</label>
							<label style="margin-right: 10px" class="radio-inline"><input type="radio" name="currency" value="$"> $</label>
							<label style="margin-right: 10px" class="radio-inline"><input type="radio" name="currency" value="RON"> RON</label>
							<label style="margin-right: 10px" class="radio-inline"><input type="radio" name="currency" value="FREE"> FREE</label>
							<input style="background: transparent; border: 1px solid #323232" type="text" class="form-control" name="prices" id="prices" placeholder="123 250 530"></input><br>

						</div>
						<div class="form-group col-sm-6 col-md-6">
							<label>Number of people</label>
							<input style="background: transparent; border: 1px solid #323232" type="number" class="form-control" name="num_of_seats" placeholder="150">
						</div>
					</div>
					<div class="form-group" style="text-align: center">
						<button type="submit" class="btn btn-default btn-lg"><u>Add event</u></button>
					</div>
					
				</form>
		


			

		</div>
		</div>
	</div>
</body>