<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <style>
        body {
            font-family: 'Segoe UI';
            
        }

        /* navigation bar */
        .dropdown_link {
            color: black;
        }

        .dropdown_link:hover {
            color: black;
            background-color: transparent;
        }
        .navigation-bar {
            color: black;
            font-family: Helvetica; 
        }
        .left-side {
            display: inline-block;
        }
        .right-side {
            float: right;
        }
        
        #loginhov {
            transition: 0.2s;
        }

        #loginhov:hover {
            transform: scale(1.05);
        }
    </style>
</head>
<body>
    <div class="navigation-bar">
        <!--https://hookagency.com/website-color-schemes-->
        <div class="left-side">
            
            <img src="upl-1566734376984.png" width="50px" height="50px" style="border:0.1px solid black; border-radius: 30px; background-color:black;margin: 15px; margin-left: 25px; margin-right: 30px">
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/search" style="color: black">Events</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/about" style="color: black">About</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/support" style="color: black">Support</a></span>
        </div>
        <div class="right-side dropdown">
            <span>Already have an account?</span>
            <a href="/login"><img src="login.png" id="loginhov" width="200px" height="50px" style="border: 1px solid black;margin: 15px; opacity: 1; cursor: pointer;"></a>
        </div>
    </div>
<div>
    <a href="/signup"><img src="landing_background.png" style="width: 100%; cursor: pointer;"/></a>
</div>
</body>
</html>
