<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Add a new event </h1>

    <!-- LOGIN FORM -->
    <form action="/create-event" method="post">
        <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Locatison</label>
                <input type="text" class="form-control" name="location">
            </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date">
        </div>
        <div class="form-group">
            <label>Hour</label>
            <input type="time" class="form-control" name="hour">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Add event</button>
    </form>

    <hr>


</div>
</div>
</body>